/* BARRA DE NAVEGAÇÃO SUPERIOR */

header{
    display: flex;
    background-color: var(--white-color);
    width: 100%;
    padding: 1rem 0;
}


header nav {
    width: 100%;
}
header nav .top-list-menu .navbar{
    width: 100%;
    display: flex;  
    justify-content: space-around;
    align-items: center;  
}

header nav .top-list-menu ul {
    display: flex;
    width: 100%;
}

header nav .top-list-menu .logo .logo-marca-ss{
    width: 6rem;
}

header nav .top-list-menu .links-menu {
    display: flex;
    font-size: 5rem;
}

header nav .top-list-menu .links-menu li:hover {
    transition: 0.3s;
    background-color: var( --whiteSmoke-color);
    border-radius: 1rem;
    padding: 0 1rem;
}

header nav .top-list-menu .icons-navbar {
    width: 3.4rem;
    margin: 0 0.8rem;
}

header nav .top-list-menu .icones {
    display: flex;
}

header nav .top-list-menu .links-menu li {
    margin: 1.6rem;
    color: var(--semiBlack-color);
}

/* SECTION HERO DA PAGINA, ONDE MOSTRA A IMAGEM PRINCIPAL */

main .hero img {
    width:100%;
    opacity: 0.6;
    position: absolute;
}

main .hero .title-section-hero h1 {
    padding-top: 6rem;
    text-align: center;

}

main .hero .title-section-hero h2 {
    text-align: center;
    margin-top: 3rem;
    height: 79.3rem;

}

/* SECTION RECOMMENDED - PRODUTOS RECOMENDADOS */


.recommended .container {
    margin: auto;
    margin-bottom: 5rem;
}

.recommended .container .recommended-product {
    display: flex;
    justify-content: center;
}

.recommended .container .recommended-product .secund {
    display: none;
}

.recommended .container .recommended-product .products {
    background-color: var(--white-color);
    width: 23rem;
    height: 40rem;
    border: 1px solid var(--semiBlack-color);
    border-radius: 1.6rem;
    margin: 1rem 1.2rem 0 1.2rem
}

.recommended .recommended-product .products .img-default img {
    border-radius: 1.6rem 1.6rem 0 0;
    width: 100%;
} 

.recommended .recommended-product .products .title-img p{
    font-size: 1.6rem;
    text-align: center;
    min-height: 4rem;
    max-width: 90%;
    margin: auto;
    margin-top: 0.6rem;
    color: var(--semiBlack-color);
}



.recommended .recommended-product .products .price p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--black-color);
}

.recommended .recommended-product .button-back {
    max-height: 6.8rem;
    padding: 0 0.6rem;
    font-size: 10rem;
    border-radius: 1rem;
    background-color:  #36363688;
    color: var(--white-color);
    text-align: center;
    margin: auto;
}

.recommended .recommended-product .button-back:hover {
    background-color:var(--semiBlack-color);
    transition: 0.4s;
}

.recommended .recommended-product .button-next {
    max-height: 6.8rem;
    padding: 0 0.6rem;
    font-size: 10rem;
    border-radius: 1rem;
    background-color: #36363688;
    color: var(--white-color);
    text-align: center;
}
.recommended .recommended-product .button-next:hover {
    background-color: var(--semiBlack-color);
    transition: 0.4s;
}

.recommended .recommended-product .button-back-next {
    margin: auto;
}

/* CATEGORIAS DO CORPO DA PAGINA*/


.section-category .container .all-categorys{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    flex-wrap: wrap;
    
}
section .container .categorys  {
    background-color: var(--slateBlue-color);
    width: 16rem;
    height: 6rem;
    margin: auto;
    margin: 1rem 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

section .container .categorys:hover {
    background-color: rgba(105, 90, 205, 0.423);
}










/* FOOTER  */
footer {
    width: 100%;
    background-color: var(--semiBlack-color);
    color: var(--white-color);
}

footer .information {
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}

footer .information p {
    font-size: 1.6rem;
    margin-top: 0.8rem;
    color: var(--white-color);
}

footer .information p:hover {
    color: var(--slateBlue-color);
    transition: 0.3s;
}

footer .all-sociais {
    margin-top: 4rem;
    padding: 1.2rem 0;
    background-color: var(--slateBlue-color);
}

footer .social-network {
    margin-top: 4rem;
    margin: auto;
    width: max-content;
}

footer .social-network .sociais-icons img {
    width: 3rem;
    margin: 1rem 2rem 0 0;
}

footer .social-network .sociais-icons {
    width: max-content;
}

footer .social-network .sociais-icons #instagram {
    border-radius: 8px;
}

footer .social-network .sociais-icons #facebook {
    border-radius: 5px;
}

footer .company-information {
    text-align: center;
    font-size:2.4rem;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

footer .company-information p {
    margin-top: 1.6rem;
}


